In [61]:
import pandas as pd
import numpy as np
from collections import Counter
import sqlachlemy

In [62]:
tesla_stock_price = "tesla_stock_price.csv"
elonmusk_tweets = "elonmusk_tweets.csv"

In [63]:
tesla_stock_price_data = pd.read_csv(tesla_stock_price)
elonmusk_tweets = pd.read_csv(elonmusk_tweets)

tesla_stock_price_data.head()

        Date       Open   High        Low      Close    Volume  Adj Close
0  6/29/2010  19.000000  25.00  17.540001  23.889999  18766300  23.889999
1  6/30/2010  25.790001  30.42  23.299999  23.830000  17187100  23.830000
2   7/1/2010  25.000000  25.92  20.270000  21.959999   8218800  21.959999
3   7/2/2010  23.000000  23.10  18.709999  19.200001   5139800  19.200001
4   7/6/2010  20.000000  20.00  15.830000  16.110001   6866900  16.110001

In [64]:
new_stock_data = tesla_stock_price_data[['Date','Open','Close']]
new_stock_data.head()

        Date       Open      Close
0  6/29/2010  19.000000  23.889999
1  6/30/2010  25.790001  23.830000
2   7/1/2010  25.000000  21.959999
3   7/2/2010  23.000000  19.200001
4   7/6/2010  20.000000  16.110001

In [65]:
daily_change = round(tesla_stock_price_data["Close"]-tesla_stock_price_data["Open"],2)
daily_change.head()

0    4.89
1   -1.96
2   -3.04
3   -3.80
4   -3.89
dtype: float64

In [66]:
daily_percent_change = round((tesla_stock_price_data["Close"]-tesla_stock_price_data["Open"])/tesla_stock_price_data["Open"],2)
daily_percent_change.head()

0    0.26
1   -0.08
2   -0.12
3   -0.17
4   -0.19
dtype: float64

In [67]:
update_stock_data = pd.DataFrame({
    "date": tesla_stock_price_data.Date,
    "open": tesla_stock_price_data.Open,
    "close": tesla_stock_price_data.Close,
    "daily change": daily_change,
    "percentage change": daily_percent_change
})
update_stock_data.head()

        date       open      close  daily change  percentage change
0  6/29/2010  19.000000  23.889999          4.89               0.26
1  6/30/2010  25.790001  23.830000         -1.96              -0.08
2   7/1/2010  25.000000  21.959999         -3.04              -0.12
3   7/2/2010  23.000000  19.200001         -3.80              -0.17
4   7/6/2010  20.000000  16.110001         -3.89              -0.19

In [68]:
elonmusk_tweets.head()

  created_at                                               text
0   4/5/2017  b'And so the robots spared humanity ... https:...
1   4/3/2017  b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2   4/3/2017      b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3   4/3/2017                b'Stormy weather in Shortville ...'
4   4/2/2017  b"@DaveLeeBBC @verge Coal is dying due to nat ...

In [83]:
daily_tweet_counts=elonmusk_tweets.groupby(['created_at']).count()
daily_tweet_counts.head()

            text
created_at
1/1/2012       7
1/1/2015       1
1/1/2016       1
1/10/2013      2
1/10/2015     13

In [86]:
tweet_count = pd.DataFrame({
    "Tweet Date": daily_tweet_counts.index,
    "Tweet Count": daily_tweet_counts.text})
tweet_count.head()

           Tweet Date  Tweet Count
created_at
1/1/2012     1/1/2012            7
1/1/2015     1/1/2015            1
1/1/2016     1/1/2016            1
1/10/2013   1/10/2013            2
1/10/2015   1/10/2015           13

In [103]:
merged_df = pd.merge(update_stock_data, tweet_count, how="left",left_on="date",right_on="Tweet Date")
merged_df.head()

,date,open,close,daily change,percentage change,Tweet Date,Tweet Count
0,6/29/2010,19.000000,23.889999,4.89,0.26,NaN,NaN
1,6/30/2010,25.790001,23.830000,-1.96,-0.08,NaN,NaN
2,7/1/2010,25.000000,21.959999,-3.04,-0.12,NaN,NaN
3,7/2/2010,23.000000,19.200001,-3.80,-0.17,NaN,NaN
4,7/6/2010,20.000000,16.110001,-3.89,-0.19,NaN,NaN

In [105]:
merged_df = merged_df.fillna(value=0)
merged_df.fillna(value=0).head()

,date,open,close,daily change,percentage change,Tweet Date,Tweet Count
0,6/29/2010,19.000000,23.889999,4.89,0.26,0,0.0
1,6/30/2010,25.790001,23.830000,-1.96,-0.08,0,0.0
2,7/1/2010,25.000000,21.959999,-3.04,-0.12,0,0.0
3,7/2/2010,23.000000,19.200001,-3.80,-0.17,0,0.0
4,7/6/2010,20.000000,16.110001,-3.89,-0.19,0,0.0

In [107]:
merged_df.drop(columns=['Tweet Date'])

,date,open,close,daily change,percentage change,Tweet Count
0,6/29/2010,19.000000,23.889999,4.89,0.26,0.0
1,6/30/2010,25.790001,23.830000,-1.96,-0.08,0.0
2,7/1/2010,25.000000,21.959999,-3.04,-0.12,0.0
3,7/2/2010,23.000000,19.200001,-3.80,-0.17,0.0
4,7/6/2010,20.000000,16.110001,-3.89,-0.19,0.0
5,7/7/2010,16.400000,15.800000,-0.60,-0.04,0.0
6,7/8/2010,16.139999,17.459999,1.32,0.08,0.0
7,7/9/2010,17.580000,17.400000,-0.18,-0.01,0.0
8,7/12/2010,17.950001,17.049999,-0.90,-0.05,0.0
9,7/13/2010,17.389999,18.139999,0.75,0.04,0.0
10,7/14/2010,17.940001,19.840000,1.90,0.11,0.0
11,7/15/2010,19.940001,19.889999,-0.05,-0.00,0.0
12,7/16/2010,20.700001,20.639999,-0.06,-0.00,0.0
13,7/19/2010,21.370001,21.910000,0.54,0.03,0.0
14,7/20/2010,21.850000,20.299999,-1.55,-0.07,0.0
15,7/21/2010,20.660000,20.219999,-0.44,-0.02,0.0
16,7/22/2010,20.500000,21.000000,0.50,0.02,0.0
17,7/23/2010,21.190001,21.290001,0.10,0.00,0.0
18,7/26/2010,21.500000,20.950001,-0.55,-0.03,0.0
19,7/27/2010,20.910000,20.549999,-0.36,-0.02,0.0
20,7/28/2010,20.549999,20.719999,0.17,0.01,0.0
21,7/29/2010,20.770000,20.350000,-0.42,-0.02,0.0
22,7/30/2010,20.200001,19.940001,-0.26,-0.01,0.0
23,8/2/2010,20.500000,20.920000,0.42,0.02,0.0
24,8/3/2010,21.000000,21.950001,0.95,0.05,0.0
25,8/4/2010,21.950001,21.260000,-0.69,-0.03,0.0
26,8/5/2010,21.540001,20.450001,-1.09,-0.05,0.0
27,8/6/2010,20.100000,19.590000,-0.51,-0.03,0.0
28,8/9/2010,19.900000,19.600000,-0.30,-0.02,0.0
29,8/10/2010,19.650000,19.030001,-0.62,-0.03,0.0
...,...,...,...,...,...,...
1662,2/3/2017,251.910004,251.330002,-0.58,-0.00,1.0
1663,2/6/2017,251.000000,257.769989,6.77,0.03,0.0
1664,2/7/2017,258.190002,257.480011,-0.71,-0.00,10.0
1665,2/8/2017,257.350006,262.079987,4.73,0.02,5.0
1666,2/9/2017,266.250000,269.200012,2.95,0.01,2.0
1667,2/10/2017,269.790009,269.230011,-0.56,-0.00,3.0
1668,2/13/2017,270.739990,280.600006,9.86,0.04,0.0
1669,2/14/2017,279.029999,280.980011,1.95,0.01,0.0
1670,2/15/2017,280.000000,279.760010,-0.24,-0.00,4.0
1671,2/16/2017,277.600006,268.950012,-8.65,-0.03,9.0
1672,2/17/2017,265.799988,272.230011,6.43,0.02,3.0
1673,2/21/2017,275.450012,277.390015,1.94,0.01,0.0
1674,2/22/2017,280.309998,273.510010,-6.80,-0.02,0.0
1675,2/23/2017,264.000000,255.990005,-8.01,-0.03,1.0
1676,2/24/2017,252.660004,257.000000,4.34,0.02,5.0
1677,2/27/2017,248.169998,246.229996,-1.94,-0.01,2.0
1678,2/28/2017,244.190002,249.990005,5.80,0.02,2.0
1679,3/1/2017,254.179993,250.020004,-4.16,-0.02,0.0
1680,3/2/2017,249.710007,250.479996,0.77,0.00,1.0
1681,3/3/2017,250.740005,251.570007,0.83,0.00,0.0
1682,3/6/2017,247.910004,251.210007,3.30,0.01,5.0
1683,3/7/2017,251.919998,248.589996,-3.33,-0.01,0.0
1684,3/8/2017,247.000000,246.869995,-0.13,-0.00,0.0
1685,3/9/2017,247.630005,244.899994,-2.73,-0.01,0.0
1686,3/10/2017,246.210007,243.690002,-2.52,-0.01,3.0
1687,3/13/2017,244.820007,246.169998,1.35,0.01,1.0
1688,3/14/2017,246.110001,258.000000,11.89,0.05,3.0
1689,3/15/2017,257.000000,255.729996,-1.27,-0.00,0.0
1690,3/16/2017,262.399994,262.049988,-0.35,-0.00,5.0
1691,3/17/2017,264.000000,261.500000,-2.50,-0.01,0.0