In [25]:
import pandas as pd
import numpy as np
from collections import Counter

In [26]:
tesla_stock_price = "tesla_stock_price.csv"
elonmusk_tweets = "elonmusk_tweets.csv"

In [27]:
tesla_stock_price_data = pd.read_csv(tesla_stock_price)
elonmusk_tweets = pd.read_csv(elonmusk_tweets)

tesla_stock_price_data.head()

        Date       Open   High        Low      Close    Volume  Adj Close
0  6/29/2010  19.000000  25.00  17.540001  23.889999  18766300  23.889999
1  6/30/2010  25.790001  30.42  23.299999  23.830000  17187100  23.830000
2   7/1/2010  25.000000  25.92  20.270000  21.959999   8218800  21.959999
3   7/2/2010  23.000000  23.10  18.709999  19.200001   5139800  19.200001
4   7/6/2010  20.000000  20.00  15.830000  16.110001   6866900  16.110001

In [31]:
new_stock_data = tesla_stock_price_data[['Date','Open','Close']]
new_stock_data.head()

        Date       Open      Close
0  6/29/2010  19.000000  23.889999
1  6/30/2010  25.790001  23.830000
2   7/1/2010  25.000000  21.959999
3   7/2/2010  23.000000  19.200001
4   7/6/2010  20.000000  16.110001

In [45]:
daily_change = round(tesla_stock_price_data["Close"]-tesla_stock_price_data["Open"],2)
daily_change.head()

0    4.89
1   -1.96
2   -3.04
3   -3.80
4   -3.89
dtype: float64

In [48]:
daily_percent_change = round((tesla_stock_price_data["Close"]-tesla_stock_price_data["Open"])/tesla_stock_price_data["Open"],2)
daily_percent_change.head()

0    0.26
1   -0.08
2   -0.12
3   -0.17
4   -0.19
dtype: float64

In [59]:
update_stock_data = pd.DataFrame({
    "date": tesla_stock_price_data.Date,
    "open": tesla_stock_price_data.Open,
    "close": tesla_stock_price_data.Close,
    "daily change": daily_change,
    "percentage change": daily_percent_change
})
update_stock_data.head()

        date       open      close  daily change  percentage change
0  6/29/2010  19.000000  23.889999          4.89               0.26
1  6/30/2010  25.790001  23.830000         -1.96              -0.08
2   7/1/2010  25.000000  21.959999         -3.04              -0.12
3   7/2/2010  23.000000  19.200001         -3.80              -0.17
4   7/6/2010  20.000000  16.110001         -3.89              -0.19